<script type="text/javascript">
$(document).ready(function(){
  DomManager.registerDivs()
  var playerController = new PlayerController();
  playerController.start();
});
<script type='text/javascript'>

	localStorage['info'] = <%= @game.id %>
	localStorage['player.id'] = <%=@player.id %> 
	localStorage['player.lat'] = <%=@player.lat %>
	localStorage['player.lng'] = <%=@player.lng %>
	localStorage['player.kind'] = <%=@player.kind %>


</script>

<div id="map-canvas"></div>

<div id="player-info" data-pl-game-id=<%=@player.game_id %>>
<div>Game: #<%= @game.id %></div>
<div id='player-id' data-pl-id=<%=@player.id %> >Player Id: <%= @player.id %></div>
<div id='player-lat' data-pl-lat=<%=@player.lat %>>Player Lat: <%= @player.lat%></div>
<div id='player-lng' data-pl-lng=<%=@player.lng %>>Player Lng: <%= @player.lng%></div>
<div id='player-kind' data-kind=<%=@player.kind %>>Player kind: <%= @player.kind%></div>
</div>

<div id ='streetview'></div>
