<div id="map-canvas"></div>

<div id="player-info">
<div>Game: #<%= @game.id %></div>
<div id='player-id' data-pl-id=<%=@player.id %> >Player Id: <%= @player.id %></div>
<div id='player-lat' data-pl-lat=<%=@player.lat %>>Player Lat: <%= @player.lat%></div>
<div id='player-lng' data-pl-lng=<%=@player.lng %>>Player Lng: <%= @player.lng%></div>
<div id='player-kind' data-kind=<%=@player.kind %>>Player kind: <%= @player.kind%></div>

</div>
