<script type="text/javascript">
	$(document).ready(function(){
	  DomManager.registerDivs()
	  var playerController = new PlayerController();
	  playerController.start();
	});
</script>

<script type='text/javascript'>

	localStorage['game.id'] = <%= @player.game_id %>
	localStorage['player.id'] = <%=@player.id %>
	localStorage['player.lat'] = <%=@player.lat %>
	localStorage['player.lng'] = <%=@player.lng %>
	localStorage['game.lat'] = '<%=@player.game.centre_lat %>'
	localStorage['game.lng'] = '<%=@player.game.centre_lng %>'

	localStorage['player.kind'] = '<%=@player.kind %>'

</script>
<div id="proximity-alert"></div>

<div id="map-canvas"></div>

<div id ='streetview'></div>
